@charset "UTF-8";

    #main{
    	margin: 0 auto;
    	height: 100%;
    	width: 900px;
    }
    th, td{
    	color: white;
    }
    #recom-main{
    	margin: 0 auto;
    	height: 450px;
    	width: 1200px;
    }
    #recom-board{
    	margin: 0 auto; 
    	margin-top: 10px; 
    	width: 1200px; 
    	height: 500px;
    }
    #th1, #th5 , #td1, #td5{
    	text-align: center;
    	width: 80px;
    }
    #td3, #td4{
    	text-align: center;
    }
 	#th3, #th4{
 		width: 150px;
 		text-align: center;
 	}
    #th2 , #th3, #th4{
    	text-align: center;
    }
    a:visited, a:link {
	color: white;
	text-decoration: none;
}